
body{
  background-color: cadetblue;
}

h1{
  text-align: center;
}

table{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  
}

table, tr, th, td{
  border: 1px solid black;
}

tr{
  text-align: center;
}

li{
  text-align: left;
}

td{
  width: 33.33%;
  padding: 10px;
  border-collapse: collapse;
  text-align: center;
}



img{
  max-width: 300%;
}

.fav li{
  color:red;
}