:root{
  --icon-color: rgb(210, 186, 248);
}

body{
  margin: 0px;
}

nav{
  display: flex;
  background-color: rgb(66, 29, 201);
  justify-content: right;
  align-items: center;
  
}

.square{
  color: var(--icon-color);
  padding: 10px;
  font-size: 30px;
}

.circle{
  color: var(--icon-color);
  padding: 10px;
  font-size: 30px;
}

.triangle{
  display: flex;
  color: var(--icon-color);
  padding: 10px 10px 10px 5px;
  font-size: 17px;
}


.container{
  display: flex;
  background-color: rgb(88, 36, 229);
  height: 60px;
  align-items: center;
}

.hamburger{
  margin: 1px 30px;
  color: white;
}

h1{
  font-size: 20px;
  color: white;
  margin: 3.5 10px;
}

.magnify-glass{
 position: absolute;
 right: 60;
}

.elipses{
  color: white;
  position: absolute;
  right: 20;
}

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin: 50px 0;
}



.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
  margin-right: 10px;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

/* Set a style for the submit button */
.btn {
  background-color: dodgerblue;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

