:root{
  --icon-color: rgb(210, 186, 248);
}

body{
  margin: 0px;
}

nav{
  display: flex;
  background-color: rgb(66, 29, 201);
  justify-content: right;
  align-items: center;
  
}

.square{
  color: var(--icon-color);
  padding: 10px;
  font-size: 30px;
}

.circle{
  color: var(--icon-color);
  padding: 10px;
  font-size: 30px;
}

.triangle{
  display: flex;
  color: var(--icon-color);
  padding: 10px 10px 10px 5px;
  font-size: 17px;
}


.container{
  display: flex;
  background-color: rgb(88, 36, 229);
  height: 60px;
  align-items: center;
  justify-content: space-between;
}

.left-icons, right-icons{
  display: flex;
  align-items: center;
}

.right-icons{
  display: flex;
  padding: 15px;
}

.hamburger{
  margin: 1px 30px;
  color: white;
}

h1{
  font-size: 20px;
  color: white;
  margin: 3.5 10px;
}

.magnify-glass{
  color: white;
  display: flex;
  align-content: center;
  padding-right: 15px;
  
}

.elipses{
  display: flex;
  color: white;
}

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

.input-container {
  display: -ms-flexbox; 
  display: flex;
  width: 100%;
  margin: 50px 0;
 
}

.input-container-special{
  display: flex;
  justify-content: space-between;
}

select{
margin-right: 20px;
background-color: rgb(232, 232, 232);
border-radius: 5px;
border:2px solid black;
color: rgb(117, 117, 117)
}

.icon {
  padding: 10px;
  background: rgb(59, 41, 193);
  color: white;
  min-width: 50px;
  text-align: center;
  margin-right: 10px;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
  background-color: rgb(232, 232, 232);
  border-radius: 5px;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

/* Set a style for the submit button */
.btn {
  background-color: rgb(59, 41, 193);
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

