

body{
  margin: 0px;
}


.grid-container{

}



.header-head{
  display: grid;
  grid-column: 2/3;
  gap: 20px;

  width: 100%;
}

.header-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgb(48, 40, 140);
  place-items: center;

  height: 300px;
}

.header-container h1{
text-align: center;
font-size: 30px;
font-weight: 900;
margin-top: 30px;
color:white;
}

.header-container p{
  text-align: center;
  font-size: 15px;
color: white;
  margin-top: 10px;
}

.header-container button{
  background-color: rgb(204, 91, 87);
  margin: auto;
  border-radius: 5px;
padding: 10px 30px 10px 30px;
color: white;
font-size: 15px;

border-style: none;
}



.info-container{
  display: grid; 

   grid-template-rows: 1fr 1fr ;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
   
   gap: 0px;
   height: 10%;
   
 background-color: white;
}

.info-container #info-h3{

  text-align: center;

  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 2;
  grid-column-end: 7;
}

.info-container #info-p1 {
  grid-row-start: 2;
  grid-column-start: 1;

  grid-row-end: 3;
  grid-column-end: 4;
  text-align: right;
  /* align-items: right; */
  font-size: 25px;
  padding-right: 40px;
  padding-left: 400px;

  background-color: white;
}

.info-container #info-p2 {
  grid-row-start: 2;
   grid-column-start: 4;

   grid-row-end: 3;
   grid-column-end: 7;
   text-align: left;
   /* align-items: left; */

   margin-left: 40px;
   margin-right: 400px;
   padding-bottom: 10px;

   background-color: white;
}

.card-container{
  background-color: rgb(48, 40, 140);

  height: 100%;
}


