button{

  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-left: 20px;

  /* Single Value - adds margin to ALL Sides*/
  /* margin: 20px; */

  /* Two Value - 1st : TOP/BOTTOM 2nd: LEFT/RIGHT */
  /* margin: 20px 10px; */

  /* Three Value - 1st : TOP 2nd: LEFT/RIGHT 3rd: BOTTOM */
  /* margin: 20px 10px 15px; */

  /* Four Value - 1st : TOP 2nd: RIGHT 3rd: BOTTOM 4th: Right */
  margin: 20px 10px 15px;


}