

.container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(3, 100px);
  column-gap: 10px;
  row-gap: 20px;
  gap: 10px 20px;
  justify-items: stretch;
  align-items: stretch;
  place-items: stretch;
  justify-content: stretch;
}

.header{
  background-color: orange;
  display: flex;
  justify-content: center;

  grid-column: 1/5;

}

.main{
  background-color: lightblue;
  display: flex;
  justify-content: center;
  grid-column-start: 3;
}

.sidevar{
  background-color: firebrick;
  display: flex;
  justify-content: center;

}

.footer{
  background-color: lightgreen;
  display: flex;
  justify-content: center;
}
