

h1{
  font-family: 'Pixelify Sans', sans-serif;
}

h2{
  margin-bottom: 50px;
}


p{
  margin-top: auto;
}

img{
  display: flex;
  justify-content: center;
}

hr{
  margin-top: 100px;
}

.quote{
  margin-top: 100px;
  margin-bottom: 70px;
}

#sub-head{
  display: flex;
  justify-content: center;
}

main{
  padding: 30px;
}