
/* Element = 1 point */
h2{
color:blue ;
}

/* Id = 100 points */
#h2Id{
 color: firebrick;
}

/* class + element + Id + .class + .class + .class = 132 points */
.container-1 section #foo.class-1.class-2.class-3 {
  color: yellowgreen;
}

/* Elm + [attribute] = 11 points */
h2[id="h2Id"]{
  color: yellowgreen;
}

/* Element + element = 2 points */
section h2{
  color:red;
}

/* .Class + element = 11 points */
.class-h2 {
  color: green;
}



h2:hover {
  background: indigo;
}

body h2:hover{
 background: pink;
}

/* !important keyword - will override specificity */
/* h2{
  color: blue !important;
} */