*{
  margin: 0;
  padding:0;
  /* font-family: sans-serif; */
}

body{
  background-color: powderblue;
}

h1{
  margin-top: 50px;
  text-align: center;
}

.container{
  padding: 0 13%;
  width: auto;
  height: 50vh;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1em;
  justify-content: space-evenly;
  align-content: center;
}

.container > div {
  padding: 1rem 1.5rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
  box-sizing: border-box;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  background-color: rgb(255, 255, 255);
}

.container > div:hover{
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background-color: rgba(236, 236, 236, 0.75);
}

.card-hero{
  display: flex;
  gap: 1.5em;
}

.card-image{
  display: inline-block;
  width: 5em;
}

.card-info{
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.card-image img{
  width: 100%;
  object-fit: contain;
  
}

.card-title{
  font-weight: 700;
}

.card-description{
  color: rgb(128, 128, 128);
}

.link{
  display: flex;
  justify-content: space-between;
  align-items: end;
  text-decoration: none;
}

.link:hover{
  text-decoration: underline;
}

.link p {
  color: rgb(128, 128, 128);
}

.link-icon{
  width: 1.5em;
}

.link-icon path {
  stroke: rgb(128, 128, 128);
}




@media screen and (min-width:750px) and (max-width: 800px){
  .container{
    margin: 8rem 0;
  }
}

@media screen and (max-width: 750px){
  .container{
    grid-template-columns: repeat(1, 1fr);
    height: 50vh;
    margin: 200px 0;
  }
}