
h2{
  text-align: center;
}

.card-container{
  display: flex;
  width:auto;
  height: auto;
  gap: 20px;
  padding: 20px 0 20px 20px;
}
.card{
display:flex;
flex-direction: column;
border: 1px solid transparent;
border-radius: 3px;
max-width: 375px;



}
.icon{
  margin: auto;
  padding-right: 3px;
  margin-right: 10px;

}

.header{
  padding-top: 10px;
}

.details{
  justify-content: right;
}
img{
  height:50px;
  width:50px;
}
#card-1{
  background-color: rgb(245, 245, 245);
}

#card-2, #card-3{
  background-color: rgb(255, 255, 255);
}