*{
  margin: 0;
  padding:0;
  /* font-family: sans-serif; */
}

body{
  background-color: powderblue;
}

h1{
  text-align: center;
}

.container{
  padding: 0 15%;
  width: auto;
  height: 100svh;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  justify-content: space-evenly;
}